<div class="container">
  <form [formGroup]="numberConvertorForm">
    <div class="row">
      <label for="numberToConvert">Number to convert</label>
    </div>

    <div class="row">
      <input
        type="number"
        name="numberToConvert"
        id="numberToConvert"
        placeholder="inputNumber"
        formControlName="numberToConvert"
        step="1"
      >
    </div>

    <div class="row">
      <div
        *ngIf=" "
        class="alert alert-danger ">
      </div>

      <div
        *ngIf="numberConvertorForm.get('numberToConvert').touched && numberConvertorForm.get('numberToConvert').invalid"
        class="alert alert-danger" role="alert">

        <div *ngIf="numberConvertorForm.get('numberToConvert').errors.required">
           <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
        </span>
          Input number is required.
        </div>
      </div>
    </div>
    <div class="row">
      <button type="submit" class="btn btn-primary"
              [disabled]="numberConvertorForm.invalid"
              (click)="submitNumber()">Convert</button>
    </div>
  </form>
</div>
